modules = ["nodejs-18", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Bot Controller"

[[workflows.workflow]]
name = "Bot Controller"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[deployment]
deploymentTarget = "vm"
run = ["node", "index.js"]

[userenv]

[userenv.shared]
BOT_TOKEN = "8580901618:AAFdT6-iTeg3av1gO5tpX38ZFUHyoOH429g"
WEB_APP_URL = "https://8b74528d-21b7-499e-9a45-878aecb409f3-00-2xew5l28g92ni.pike.replit.dev"

[[ports]]
localPort = 5000
externalPort = 80
